<section class="home-hero">
  <div class="home-container">
    <!-- Left Side: Text -->
    <div class="intro">
      <h1 class="animate__animated animate__fadeInDown">Hi, I'm Harika 👋</h1>
      <p class="animate__animated animate__fadeInUp animate__delay-1s">
        I build modern, responsive web applications using Angular.
      </p>
      <a routerLink="/projects" class="cta-btn animate__animated animate__zoomIn animate__delay-2s">
        View Projects
      </a>
    </div>

    
  </div>
</section>